/* CONTAINER */
.contact {
  width: 100%;
  min-height: 100vh;
  background: rgb(14, 14, 14);
  padding: 60px 20px;
  text-align: center;
  color: white;
}

.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 800px;
  margin: auto;
}

/* LEFT */
.contact-info {
  flex: 1;
  text-align: left;
 font-family: poppins, sans-serif;
 p{
  font-size: 1.1rem;
  margin-bottom: 10px;
 }
 h3{
  font-size: 2rem;
 }

}

.contact-info h3 {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials {
  margin-top: 30px;
}

.socials a {
  margin-right: 25px;
  font-size: 1.5rem;
   color: #ebc0bb;
  transition: 0.3s;
}

.socials a:hover {
  color: #ce1260;
  transform: scale(1.2);
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(226, 229, 241, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(340deg, #ce1260, #ad4015);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  transform: scale(1.05);
}

.error {
  color: red;
  font-size: 0.9rem;
}

.success {
  color: lightgreen;
  font-size: 0.9rem;
}

@media (max-width: 768px) {

  .contact-container {
    flex-direction: column;
  }

  .contact-info {
    text-align: center;
    h3{
      font-size: 1.5rem;
    }
    p{
      font-size: 1rem;
    }
  }
.contact-form {
    width: 100%;
  }
  .contact h1 {
    font-size: 2rem;
  }

}