
.footer {
  width: 100%;
  background: rgb(10, 10, 10);
  color: #ccc;
  padding-top: 50px;
}

.footer-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  color: white;
}

.footer-section span {
  background: linear-gradient(340deg, #ce1260, #ad4015);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-section p {
  margin: 8px 0;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.socials {
  margin-top: 10px;
}

.socials a {
  margin-right: 15px;
  font-size: 1.5rem;
  color: white;
  transition: 0.3s;
}

.socials a:hover {
  color: #ce1260;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #222;
  font-size: 0.9rem;
}

@media (max-width: 768px) {

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section p {
    justify-content: center;
  }

  .socials a {
    margin: 0 10px;
  }
}